#containerb {
  display: flex;
  background-color: bisque;
  align-content: center;
  justify-content: center;
}
#containerb .split {
  background-color: chartreuse;
  align-items: center;
  margin: 10px;
  width: 100%;
}
