@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  max-width: 1440px;
  margin: auto;
  min-width: 375px;
}
body {
  background-color: hsl(210, 46%, 95%);
  margin: auto;
  margin-top: 2em;
  min-height: 100vh;
  width: 90%;
}
.reviews {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.card {
  background-color: rgb(187, 130, 130);
  border-radius: 8px;
  box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.124);
  padding: 2em;
}
.profile {
  align-items: center;
  display: flex;
  gap: 15px;
}
.profile img {
  border-radius: 50px;
  border: 2px solid white;
  height: 40px;
  width: 40px;
}
h2 {
  color: white;
  display: flex;
  font-size: 1em;
  font-weight: 600;
  flex-direction: column;
}
span {
  color: rgba(255, 255, 255, 0.501);
  font-weight: 500;
  font-size: 0.8em;
}
h3 {
  color: white;
  font-size: 1.3em;
  font-weight: 600;
  padding: 0.8em 0em;
}
p {
  color: rgba(255, 255, 255, 0.741);
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1.3em;
}
.daniel {
  background-color: hsl(263, 55%, 52%);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: top right;
}
.jonathan {
  background-color: hsl(217, 19%, 35%);
}
.jeanette {
  background-color: white;
}
.jeanette h2,
.jeanette h3,
.kira h2,
.kira h3 {
  color: hsl(217, 19%, 35%);
}
.jeanette span,
.kira span {
  color: hsla(217, 19%, 35%, 0.501);
}
.jeanette p,
.kira p {
  color: hsla(217, 19%, 35%, 0.741);
}
.patrick {
  background-color: hsl(219, 29%, 14%);
}
.patrick img {
  border-color: hsl(263, 55%, 52%);
}
.kira {
  background-color: white;
}

@media screen and (min-width: 992px) {
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    width: 80%;
  }
  .reviews {
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: stretch;
  }
  .daniel {
    grid-column: 1/3;
  }
  .kira {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .jeanette {
    grid-column: 1/2;
  }
  .patrick {
    grid-column: 2/4;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
