@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  margin: 0;
  padding: 0;
}
html {
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  background-position: top center;
  min-width: 375px;
  max-width: 1440px;
  margin: auto;
}
main {
  align-items: center;
  gap: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  text-align: center;
  width: 90%;
}
section {
  margin: auto;
  width: 90%;
}

.devices,
.computer {
  margin-top: 2em;
  width: 100%;
}
.sect-1 .logo {
  margin-top: 5em;
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
}
p {
  color: hsl(201, 11%, 66%);
  font-weight: 400;
  padding: 0.8em 0em;
  line-height: 1.4em;
}
h1 {
  font-size: 1.8em;
  margin-top: 1.5em;
}
.btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
  justify-content: center;
  margin-top: 2em;
}
button {
  border: none;
  background: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  padding: 1em 0em;
  width: 90%;
}
.dl-ios {
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px solid hsl(171, 65%, 28%);
  box-shadow: 0em 0.2em 0.5em rgba(38, 186, 164, 0.35);
}
.dl-mac {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 3px solid hsl(233, 50%, 48%);
  box-shadow: 0em 0.2em 0.5em hsla(233, 50%, 48%, 0.371);
}
.info {
  margin: 1.5em 0em;
}
.sect-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  justify-content: center;
}
footer {
  align-items: center;
  background-color: hsl(0, 0%, 86%, 0.35);
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  margin-top: 5em;
  padding: 1em 0em;
  text-align: center;
}
.footer-logo {
  width: 30%;
}
li {
  list-style: none;
}
a {
  color: hsl(210, 10%, 33%);
  font-weight: 600;
  text-decoration: none;
}
.links {
  display: flex;
  flex-direction: column;
  line-height: 2.5em;
}
.social-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
}
@media screen and (min-width: 992px) {
  html {
    background-image: url(./images/bg-header-desktop.png);
    overflow-x: hidden;
  }
  .head {
    margin: auto;
    width: 55%;
  }
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.1em;
    line-height: 1.8em;
  }
  h2 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.8em;
  }
  .btns {
    flex-direction: row;
    margin: 2em auto 0;
    width: 40%;
  }
  button {
    font-size: 1.1em;
    padding: 1em 0;
  }
  .sect-2 {
    display: grid;
    grid-template-columns: 55% 45%;
  }
  .sect-2 .head {
    grid-column: 1/3;
    margin-bottom: 2em;
  }
  .computer {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: -13em;
    width: 110%;
  }
  .sect-2 .infos {
    text-align: start;
    width: 75%;
  }
  .devices {
    width: 60%;
  }
  .sect-3 .infos {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 3em;
  }
  .infos img {
    margin-bottom: 1em;
    height: 50px;
    object-fit: contain;
    width: 50px;
  }
  .sect-3 .info {
    align-self: start;
  }
  .sect-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  footer {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 20% 60% 20%;
    padding-top: 3em;
  }
  .footer-logo {
    grid-column: 1/2;
    width: 20%;
  }
  .links {
    align-self: start;
    display: grid;
    font-size: 1.2em;
    gap: 0em;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
    width: 70%;
  }
  .attribution {
    grid-column: 1/4;
    justify-self: center;
    width: 100%;
  }
  .social-icons {
    margin: 0;
    width: 70%;
  }
  .dl-ios:hover {
    background-color: hsla(171, 66%, 44%, 0.727);
    border-color: hsla(171, 65%, 28%, 0.385);
    cursor: pointer;
  }
  .dl-mac:hover {
    background-color: hsla(233, 100%, 69%, 0.7);
    border-color: hsla(233, 50%, 48%, 0.563);
    cursor: pointer;
  }
  a:hover {
    color: hsl(171, 66%, 44%);
  }
  a img:hover {
    filter: invert(60%) sepia(61%) saturate(474%) hue-rotate(122deg)
      brightness(90%) contrast(94%);
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
