@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background: url(../images/bg-mobile.png);
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.boxOne {
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
  width: 90%;
}
.logo {
  margin: 9%;
}
.icon {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 9%;
  margin-bottom: 9%;
  width: 50%;
}
.document,
.folder,
.upload {
  align-items: center;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 7%;
  width: 20px;
}
.boxTwo {
  align-items: center;
  background-color: hsl(228, 56%, 26%);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
  width: 90%;
}
.text {
  margin-top: 10%;
}
.text span {
  font-weight: bolder;
}
.chat {
  background-color: #fff;
  border-radius: 10px 10px 0 10px;
  color: hsl(229, 57%, 11%);
  font-weight: 700;
  font-size: 32px;
  padding: 15px 30px;
  position: absolute;
  right: 210px;
  top: 240px;
  z-index: 1;
}
.chat:after {
  border-top: solid 50px #fff;
  border-left: solid 50px transparent;
  border-right: solid 0px transparent;
  border-bottom: solid 10px transparent;
  content: "";
  display: block;
  height: 0;
  left: 106px;
  position: absolute;
  top: 60%;
  width: 0;
  z-index: -1;
}
#left-gb {
  color: hsl(229, 7%, 55%);
  font-size: 12px;
}
.bar {
  background-color: hsl(229, 57%, 11%);
  border-radius: 20px;
  margin-top: 5%;
  padding: 1%;
  width: 90%;
}
.bar .insidebar {
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 20px;
  display: flex;
  justify-content: flex-end;
  width: 81.5%;
}
.bar .insidebar .whiteball {
  background-color: white;
  border-radius: 10px;
  height: 10px;
  width: 4%;
}
.limit {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 15%;
  width: 90%;
}
.attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  display: none;
}

@media screen and (min-width: 750px) {
  body {
    background-image: url(../images/bg-desktop.png);
    background-position-y: bottom;
    background-color: hsl(229, 57%, 11%);
    background-repeat: repeat-x;
  }
  section {
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .boxOne {
    margin-right: 2%;
    width: 25%;
  }
  .boxTwo {
    margin-left: 2%;
    margin-bottom: 1%;
    width: 45%;
  }
  .text {
    align-self: flex-start;
    margin-top: 5%;
    margin-left: 5%;
  }
  .bar {
    margin-top: 3%;
    padding: 0.5%;
  }
  .bar .insidebar .whiteball {
    width: 2%;
  }
  .limit {
    margin-top: 1%;
    margin-bottom: 3%;
  }
}
